body {
  margin: 20px;
  padding: 0;
  background-color: rgb(148, 148, 148);
}
.container {
  max-width: 960px;
  margin: auto;
  border: rgb(82, 82, 82) solid 5px;
  background: rgb(82, 82, 82);
}
.main-image img,
.images img {
  width: 100%;
}
.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}
/* animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}